html, body {
    height: 100%;
    margin: 0; /* Remove default margins */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    max-width: 100vw; /* Ensure it doesn't exceed viewport width */
    max-height: 100vh; /* Ensure it doesn't exceed viewport height */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    /* No additional styling needed */
}
