html, body {
    height: 100%;
    margin: 0; /* Remove default margins */
    overflow: hidden; /* Prevent scrolling */
}

.profile-img {
    position: absolute; /* Position the image absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Scale the image to cover the viewport */
}
